<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bullet List Component</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./BulletList.css" />
  </head>
  <body>
    <div class="bullet-list-container">
      <div class="connecting-lines">
        <div class="vertical-line"></div>
      </div>
      <div class="bullet-list-content">
        <div class="bullet-item">
          <div class="horizontal-line top"></div>
          <div class="bullet-point bullet-top"></div>
          <div class="bullet-text">More Eyes On Your Work</div>
        </div>

        <div class="bullet-item">
          <div class="horizontal-line middle"></div>
          <div class="bullet-point bullet-middle"></div>
          <div class="bullet-text">More Clicks That Count</div>
        </div>

        <div class="bullet-item">
          <div class="horizontal-line bottom"></div>
          <div class="bullet-point bullet-bottom"></div>
          <div class="bullet-text">More Business That Sticks</div>
        </div>
      </div>
    </div>
  </body>
</html>
